{
  "plugins": [
    "transform-runtime"
  ],
  "presets": [
    "next/babel"
  ],
  "ignore": [],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
